@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@400&display=swap");

html {
    scroll-behavior: smooth;
    font-family: "Proza Libre", sans-serif;
    font-weight: 200;
    width: 100vw;
}

nav, #about-me, #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#projects {
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#nav-tabs p {
    display: inline;
    margin-right: 1em;
    font-size: 0.8em;
}

#about-me-text, #contact-text {
    align-self: flex-start;
    width: 60%;
    margin-top: 0;
}

#about-me-text p {
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    #about-me-text {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #nav-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

#about-me-pic {
    align-self: flex-start;
    height: 350px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#projects details {
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

#projects details summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    list-style-position: inside;
    list-style-type: disclosure-closed;
    cursor: pointer;
    font-weight: bolder;
}

#skills {
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.skill-logo {
    width: 5%;
    margin-right: 2em;
}

body.dark-mode {
    background: #121212;
  }
  body.dark-mode h1,
  body.dark-mode h2,
  body.dark-mode p {
    color: #eee;
  }
  body.dark-mode a {
    color: #809fff;
    text-decoration: none;
  }